:root {
  --header-color: #ffffff;
  --header-logo-color: #000000;
  --header-text-color: #212121;
  --title-color: #212121;
  --text-color: #757575;
  --footer-address-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*header*/

.header {
  background-color: var(--header-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid;
  border-color: #ECECEC;
}

.header-portfolio {
  border-bottom: solid;
  border-color: #ECECEC;
  border-width: 1px;
}

.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-logo-color);
  margin-right: 93px;
  white-space: nowrap;
}

.header-accent {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
margin-right: 50px;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.menu-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  display: flex;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.header-tel,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.contact-icon {
  margin-right: 10px;
  align-items: center;
}

.contact-icon {
  fill: var(--text-color);
}

.header-mail:hover .contact-icon,
.header-mail:focus .contact-icon{
  fill: var(--accent-color);
}

.header-tel:hover .contact-icon,
.header-tel:focus .contact-icon{
  fill: var(--accent-color);
}

.header-contacts {
  display: inline-flex;
  margin-left: auto;
}

.header-contact:not(:last-child) {
  margin-right: 50px;
}

/*main-page*/

.hero-section {
  /* background-color: #2f303a; */
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text {
  min-width: 696px;
  color: var(--header-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--header-color);
  background-color: var(--accent-color);
  min-Width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.hero-btn:hover, .hero-btn:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

.button {cursor: pointer;}

/*advantage*/

.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  }

.advantage-text {
  width: 270px;
  
  }

  .advantage-text:not(:last-child) {
  margin-right: 30px;
  }

.advantage-text-list {
  display: flex;
}

.advantage-detail {
  width="270"
  height="120"
  background-color: #F5F4FA;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 25px 100px 25px 100px;
}

.adv-detail-icon {
  display: flex;
  justify-content: center;
}

.advantage-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-text-color);
  margin-bottom: 10px;
}

.advantage-detail-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  width: 270px;
}

/*activities*/

.activities-container {
padding-bottom: 94px;
}

.activities-list {
  display: flex;
  margin-top: 50px;
}

.activities-text:not(:last-child) {
  margin-right: 30px;
}

.activities-header,
.team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  margin-bottom: 50px;
}

.team-text {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.team-members {
display: flex;
}

.member-text:not(:last-child) {
  margin-right: 30px;
}

.member-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-text-color);

}

.team-member-occupation {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-top: 10px;
}

/* clients */

.clients {
  margin-bottom: 94px;
}

.clients-item {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.client-detail-icon {
  display: flex;
  justify-content: center;
  fill: #AFB1B8;
}

.client-detail {
  display: flex;
  width: 170px;
  height: 92px;
  border: solid;
  border-color: #AFB1B8;
  border-width: 1px;
  border-radius: 4px;
  padding: 16px 32px;
}

.client:not(:last-child) {
  margin-right: 30px;
}


.client-detail:hover, 
.client-detail:focus {
  border-color: var(--accent-color);
}

.client-detail:hover .client-detail-icon, 
.client-detail:focus .client-detail-icon {
  fill: var(--accent-color);
}


/*footer and contacts*/

.footer {
background-color: #2f303a;
padding-top: 60px;
padding-bottom: 60px;
}

.footer-info {
  display: flex;
  align-items: center;
}

.footer-connect {
  margin-right: 70px;
}

.connect-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color);
  white-space: nowrap;
}

.footer-accent {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.connect-item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-top: 20px;
}

.footer-address {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(----footer-address-color)}

.footer-mail,
.footer-tel {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.social-links {
  width: 206px;
  height: 80px;
margin-bottom: 40px;
}

.social-link-icon {
  width: 20px;
  height: 20px;
  fill: var(--header-color);
  
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px;
  display: flex;
}

.social-link:hover, 
.social-link:focus {
  background-color: var(--accent-color);
}

.social-links-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
  text-align: justify;
}

.social-link-item {
  margin-right: 10px;
  
}

.social-link-list {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/*portfolio*/

.info-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-list {
display: flex;
justify-content: center;
margin-right: 8px;
margin-bottom: 50px;
}

.btn-list-item {
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--header-text-color);
padding-top: 6px;
padding-bottom: 6px;
padding-right: 22px;
padding-left: 22px;
border: none;
}

.btn-menu-list:not(:last-child) {
  margin-right: 8px;
}


.btn-list-item:hover, 
.btn-list-item:focus {
  background-color: var(--accent-color);
  color: var(--header-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

.list-item {
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--header-text-color);
}

.list-item-text {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--text-color);
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.offer-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.offer-item:hover, 
.offer-item:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
cursor: pointer;
}


.item-text {
  padding: 20px 24px 20px 24px;
  border: solid;
  border-width: 1px;
  border-color: #EEEEEE;
} 

.list-item-text {
  margin-top: 4px;
}

.list-item-text {
  justify-content: space-between;
  align-content: center;
}